body {
    background: #1c1c25; /*  */
}

#wrapper {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

header {
    width: 100%;
    height: 50px;
    background-color: black;
}

#logo {
    width: 260px;
    height: 30px;
    float: left;
    padding: 10px 25px;
}

#logo img {
    height: 30px;
}

#header_lft {
    width: 800px;
    height: 50px;
    float: right;
    padding-right: 40px;
}

.logout_icon {
    width: 40px;
    height: 50px;
    float: right;
    background: url('../img/logout.png') no-repeat center;
    margin-left: 10px;
}

.logout_icon:hover {
    background-color: #25363f;
}

.contact_icon {
    width: 50px;
    height: 50px;
    float: right;
    background: url('../img/mail.png') no-repeat center;
    margin-left: 10px;
}

.contact_icon:hover {
    background-color: #25363f;
}

.welcome {
    width: auto;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-size: 15px;
    color: #fff;
    float: right;
    text-transform: capitalize;
}

#content {
    width: 100%;
    height: auto;
    position: relative;
}




#sidebar ul li ul {
    display: none;
}

#sidebar ul li ul li a {

}



#sidebar {
    width: 15%;
    height: 600px;
    float: left;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar ul li a {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border-left: solid 3px transparent;
    border-bottom: solid 1px #101010;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    display: block;
    text-decoration: none;
}

#sidebar ul li a:hover {
    background-color: #000;
    border-left: solid 3px #FE9A00;
}

#sidebar > ul > li > a {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border-left: solid 3px transparent;
    border-bottom: solid 1px #101010;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    display: block;
    text-decoration: none;
}
#sidebar > ul > li > a > span {
    display: block;
    padding: 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#sidebar > ul > li > a:hover {
    background-color: #000;
    border-left: solid 3px #FE9A00;
}

#sidebar > ul > li.active {
    border-bottom: none;
}

#sidebar > ul > li.has-sub > a span {
    background: url('../img/icon_plus.png') 90% center no-repeat;
}
#sidebar > ul > li.has-sub.active > a span {
    background: url('../img/icon_minus.png') 90% center no-repeat;
}

/* Sub menu */
#sidebar ul ul {
    display: none;
}

#sidebar ul ul li {
    padding: 0;
    border-top: none;
}

#sidebar ul ul li:last-child {
    border-bottom: none;
}
#sidebar ul ul a {
    background-color: #111;
    height: 50px;
    color: #eee;
    padding: 10px 20px 10px 30px;
    border-bottom: solid 1px #000;
}
#sidebar ul ul a:before {
    content: "»";
    position: absolute;
    left: 10px;
    color: #25363f;
}
#sidebar ul ul a:hover {
    color: #fff;
    background-color: #222;
    border-left: solid 3px #999;
}


#container {
    width: 85%;
    min-height: 600px;
    float: right;
    background: #fff;
    padding: 20px;
}

.btn a {
    width: 120px;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: #25363f;
    color: #fff;
    margin-right: 10px;
}

.profile_btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.cont_detail {
    width: 80%;
    height: auto;
    margin-top: 10px;
}

.cont_detail_itm {
    width: 100%;
    min-height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.profile_itm span {
    display: inline-block;
    width: 200px;
    font-weight: 700;
}

.profile_logo {
    width: 100px;
    height: 100px;
    border: solid 1px #ccc;
    margin-top: 10px;
}

.profile_logo img {
    width: 100%;
}


.float_lft {
    float: left;
}

.float_rgt {
    float: right;
}

.main_top {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.notice {
    width: 90%;
    min-height: 30px;
    line-height: 30px;
    margin: 0 auto 10px;
}

.success {
    color: #333;
}

.failure {
    color: #8a1f11;
}

.main {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.dashboard_itm {
    width: 23%;
    height: 80px;
    color: #fff;
    float: left;
    margin-right: 2%;
    padding-left: 70px;
}

.di_ins_lft {
    width: 40%;
    height: 80px;
    float: left;
}

.di_ins_rgt {
    width: 100%;
    height: 80px;
    float: right;
    font-size: 16px;
    padding: 15px;
}

.di_ins_rgt a {
    color: #fff;
    text-decoration: none;
}

.di_ins_rgt h3 a {
    color: #fff;
    text-decoration: none;
}

#total_sales {
    background: #416270 url('../img/sale.png') no-repeat 10px center;
}

#total_sales:hover {
    background-color: #000;
}

#total_orders {
    background: #FE9A00 url('../img/order.png') no-repeat 10px center;
}

#product_count {
    background: #25363f url('../img/product_count.png') no-repeat 10px center;
}

#pending_payment {
    background: #666 url('../img/payment.png') no-repeat 10px center;
}

.box1 {
    width: 48%;
    height: 400px;
    float: left;
    margin-right: 2%;
}

.box_title {
    width: 100%;
    height: 40px;
    background-color: #ddd;
    line-height: 40px;
    padding: 0 20px;
    font-size: 16px;
    color: #333;
}

.box_ins {
    width: 100%;
    height: 360px;
    padding: 20px;
}

#graph {
    background-color: #eee;
}

#recent_orders {
    background-color: #eee;
}

.banner_con {
    width: 100%;
    min-height: 200px;
    border: solid 1px #ccc;
    margin-bottom: 20px;
}

.banner_con img {
    width: 100%;
}

.tab_nav {
    width: 96%;
    height: 40px;
    margin: 5px auto 15px;
}

.tab_nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.tab_nav ul li a {
    width: 23%;
    height: 40px;
    margin-right: 2%;
    float: left;
    background-color: #ccc;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tab_nav ul li.active a {
    background-color: #25363f;
}

.form_wrap {
    width: 96%;
    padding: 20px;
    margin: 0 auto;
    background-color: #f3f3f3;
}

.form_con {
    width: 45%;
    height: auto;
}

.form_itm {
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
}

.form_itm2 {
    width: 49%;
    min-height: 40px;
    margin-bottom: 20px;
}

.form_notice {
    width: 100%;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
    color: #0000ff;
    font-style: italic;
}

.textfield {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: solid 1px #ccc;
}

.textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: solid 1px #ccc;
    background-color: #fff;
    color: #333;
}

.textarea2 {
    width: 100%;
    height: 250px;
    padding: 10px;
    border: solid 1px #ccc;
    background-color: #fff;
    color: #333;
}

.selection {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: solid 1px #ccc;
}

.filefield {
    width: 100%;
    min-height: 70px;
    padding: 10px;
    border: solid 1px #ccc;
    background-color: #fff;
}

label {
    display: block;
    float: none;
    margin-bottom: 5px;
}

.form_btn {
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #FE9A00;
    color: #000;
    border: none;
    float: right;
}

.form_itm_error {
    margin-top: 5px;
    height: auto;
    width: 100%;
    color: #ff0000;
    font-weight: bold;
}

.cancel_btn a {
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #FE9A00;
    color: #000;
    border: none;
    float: left;
    text-decoration: none;
    text-align: center;
}

.add_more_btn a {
    width: 240px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #FE9A00;
    color: #000;
    border: none;
    float: left;
    text-decoration: none;
    text-align: center;
}


.disp_avail_color, .disp_avail_size, .disp_inventory, .show_avail_color, .show_avail_size, .show_inventory {
    width: 100%;
    height: 100px;
    background-color: #fff;
    padding: 10px;
    overflow: scroll;
    border: solid 1px #ddd;
}

.disp_inventory, .show_inventory {
    height: 240px;
}

.disp_itm {
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    border-bottom: solid 1px #ddd;
}

.del_disp_color, .del_disp_size {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    top: 0;
    background-image: url('../img/close.png');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 40%;
    -moz-background-size: 40%;
    background-size: 40%;
    cursor: pointer;
}

.prdt_img {
    width: 80px;
    display: inline;
    border: solid 1px #ddd;
}

.prdt_img img {
    width: 80px;
    height: auto;
    border: solid 1px #ddd;
}

td.edit_icons img {
    width: 16px;
    margin-right: 10px;
}

.pagination_con {
    width: 100%;
    height: 30px;

}

.pagelinks {
    width: 100%;
    height: 30px;
}

.pagelinks_itm {
    display: inline-block;
    width: auto;
    padding: 0 10px;
    margin-right: 7px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: solid 1px #ddd;
    background-color: #eee;
}

.pagelinks_itm a {
    color: #333;
    text-decoration: none;
}

.product_det_img {
    width: 100%;
    height: auto;
}

.product_det_img img {
    width: 150px;
    min-height: 150px;
    float: right;
    margin-left: 20px;
    border: solid 1px #ddd;
}



footer {
    background: #25363f;
    height: 60px;
    width: 100%;
}

#popup_overlay {
    width: 100%;
    height: 700px;
    background: url('../img/pop-up-bg.png') repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

#popup {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}

.popup_content {
    width: 720px;
    min-height: 450px;
    margin: 100px auto 30px;
    position: relative;
    background-color: #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 5px #ccc;
    padding: 20px;
}

.close_pop_up {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #eee url('../img/close.png') no-repeat center;
    border: solid 1px #666;
    cursor: pointer;
}

#instruction_overlay {
    width: 100%;
    height: 700px;
    background: url('../img/pop-up-bg.png') repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

#instruction_popup {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}


.instruction_content {
    width: 960px;
    height: 540px;
    margin: 50px auto 30px;
    position: relative;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 5px #ccc;
    padding: 20px;
    overflow-y: scroll;
}

.close_instruction {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #eee url('../img/close.png') no-repeat center;
    border: solid 1px #666;
    cursor: pointer;
}

.form_wrap {
    position: relative;
}

.instruction_btn a {
    width: auto;
    height: 30px;
    line-height: 30px;
    position: absolute;
    font-size: 14px;
    top: 10px;
    right: 20px;
}

.section {
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.section img {
    width: 100%;
    margin: 10px 0;
}

.section_txt {
    width: 48%;
    min-height: 100px;
    margin-top: 10px;
}

.section_img {
    width: 48%;
    height: auto;
}

.section_img img {
    width: 100%;
    margin-bottom: 10px;
}





