body {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 12px;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #666;
}

h1 {
    font-size: 36px;
    margin: 5px 0 18px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    margin: 5px 0 12px;
}

h3 {
    font-size: 24px;
    margin: 3px 0 10px;
}

h4 {
    font-size: 20px;
    margin: 3px 0 8px;
}

h5 {
    font-size: 16px;
    margin: 0 0 5px;
}

p {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 6px;
}

.clearfix {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    background-color: transparent;
    border: solid 1px #bbb;
    vertical-align: text-top;
}

th {
    padding: 5px 7px;
    background-color: #f3f3f3;
    border: solid 1px #ccc;
}

td {
    padding: 5px 7px;

    border: solid 1px #ccc;
}

.center {
    text-align: center;
}
.light {
    font-weight: normal;
}

.caps {
    text-transform: uppercase;
}

.white {
    color: #fff;
}

.border-top {
    border-top: solid 1px #ddd;
    padding-top: 10px;
}