@media screen and (max-width: 1200px) {

}


@media screen and (max-width: 768px) {

	.container {
		width: 98%;
	}

	.button {
		width: 60%;
	}

	.box {
		width: 120px;
		height: 120px;
		margin: 30px 10px;
		padding: 0;
	}

	.box img {
		width: 120px !important;
		height: 120px !important;
	}

	.tiles {
		height: 200px;
	}

	.tiles img {
		width: 80%;
	}

	.info{
		height: 450px;
	}

	.ptdis {
		height: 235px;
	}

	.product {
		width: 140px;
		margin: 15px;
	}

	.product img{
		width: 100%;
	}

	.price {
		font-size: 16px;
	}

	.btn3{
		width: 65px;
		height: 30px;
		margin-left: 10px;
		float: left;
		padding: 5px;
	}




}


@media screen and (max-width: 480px) {

	.container{
		width: 98%;
	}

	.contn {
		width: 95%;
	}

	.img {
		display: none;
	}

	.ptdis {
		width: 100%;
		margin-bottom: 30px;
		float: none;
		min-height: 1000px;
	}

	.product {
		margin: 20px auto;
    	float: none;
	}

	.wrap {
		width: 100%;
		height: 400px;
		margin: 50px auto;
	}	

	.tiles {
		height: 180px;
	}

	.tiles img {
		width: 80%;
	}

	.info {
		height: 400px;
	}

	.disp2 img {
		display: none;
	}

	.menu {
		width: 100%;
	}

	.box {
		width: 120px;
		height: 120px;
		margin: 30px 20px;
		padding: 0;
	}

	.box img {
		width: 120px !important;
		height: 120px !important;
	}

	.button {
		width: 100%;
	}

	.product {
		display: block;
	}

}


