@font-face {

    font-family: 'DaxEcobank';

    src: url(../../fonts/DaxCondensed.ttf) format('truetype');

}

body{
	margin: 0;
	padding: 0;
	font-family:'daxecobank';
}
li{
	list-style: none;
}
a:hover, a:visited, a{
	text-decoration: none;
}
h1   {
	font-weight: bold;
	color:#005B82;
	font-size:60px;
	/* font:'daxcondensed'; */
	text-align:left;
	
}

h2  {
	font-weight: bold;
	color:#fff;
	font-size:60px;
	/*font:'daxcondensed'; */
	
}

.main   {
       width: 1160px;
	   margin: 0 auto;
	   height:auto;
	   }
	   
.text   {
     font-size:15px;
	 line-height:1.428
	 }

/*header area*/
.top-header{
	background: #005B82 !important;
	position: fixed;
	width: 100%;
	z-index: 99999;
	height:auto;
	box-shadow: 1px 1px 1px #000;

}

.top-header img.logo{
          margin-bottom:20px;
		  
       }


.nav-bar{
margin:0;
padding:0;
}

.navbar-toggle span{
	color: #fff;
}

.navbar-header  {
float:right;
}



.btn-primary {
             width:70px;
			 background-color:#fff;
			 color:#000;
			 font-size:20px;
			 margin-top:20px;
			 height:auto;
			 }

.store  {
width:120px;
color:#000;
font-size:18px;
background-color:#fff;
text-align:center;
padding:10px;
margin-top:18px;
}



.banner-img img{
	max-width: 100%;
	height:auto;
	display:block;
	margin-top:70px;
	
}


.what-we-offer {
               width:100%;
			   height:auto;
			   color:#000;
			   font-size:50px;
			    text-align:center;
				margin-top:10px;
			   }
			   
.middle-header{
	width: 100%;
	height:auto;
	text-align:center;
}

.nav-bar-2{
	text-align:center;
	border:none;
	}


.navbar-toggle span{
	color: #fff;
	text-align:center;
	border:1px solid #000;
}


ul.nav{
	margin: 0;
	padding: 0;
	
}
.navbar-default .navbar-nav>li>a {
 	font-size: 24px;
	color: #000;
	text-transform: uppercase;
     padding: 14px 105px;
	font-weight: bold;
	
}
.navbar-default .navbar-nav>li>a:hover{
	color: #005B82;
	text-align:center;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color:#BCCE00;
}
li a.active{
	color: #000 !important;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  margin-top: 4px;
}



.marketing-img img {
                   margin-left:60px;
 }

				   
.marketing-txt {
font-size:15px;
color:#000;
font-weight:light;
/* font-family:'daxwide-light'; */
margin-right:50px;
margin-top:40px;
text-align:left;
                 }
	
.store-btn  {
color:#fff;
background-color:#005B82;
font-size:15px;
font-weight:bold;
width:160px;
margin-top:10px;
padding:20px;
}

.store-btn a {
color:#fff;
font-size:15px;
font-weight:bold;
}

.store-btn a:hover {
color:#ccc;
}

.store-btn-2  {
color:#005B82;
background-color:#fff;
font-size:15px;
font-weight:bold;
width:160px;
margin-top:10px;
padding:20px;
}

.store-btn-2 a {
color:#005B82;
font-size:15px;
font-weight:bold;
}

.store-btn-2 a:hover {
color:#ccc;
}

.payment-container {
background-color:#005B82;
margin-top:30px;
}

.payment-img img {
margin-top:100px;
   }
			   
.payment-txt {
font-size:15px;
color:#fff;
font-weight:light;
/* font-family:'daxwide-light'; */
margin-top:60px;
text-align:left;
                  }


.logistics-img img {
                   margin-left:60px;
				   margin-top:50px;
				   }

.logistics {
border-right:1px solid #ccc;
}
				   
.logistics-txt {
font-size:15px;
color:#000;
font-weight:light;
/* font-family:'daxwide-light'; */
margin-right:50px;
margin-top:70px;
text-align:left;
                 }
				 
.webstore-container {
background-color:#F0F0F0;
margin-top:30px;
}

.webstore-img img {
margin-top:30px;
   }
			   
.webstore {
font-size:15px;
color:#000;
font-weight:light;
/* font-family:'daxwide-light'; */
margin-top:50px;
text-align:left;
                  }

		   
.banner-bottom-img img {
display:block;
min-width:100%;
margin:0 auto;
}

.text-center {
         width:100%;
		 }
		 
.shop {
width:300px;
       background-color:#BDCF00;
	   color:#fff;
	   text-align:center;
	   font-size:16px;
	   /* font-family:'daxcondensed'; */
	   margin-left:10px;
	   padding:10px;
	  }
	  
.shop a {
width:300px;
      color:#fff;
	   text-align:center;
	   font-size:16px;
	   /* font-family:'daxcondensed'; */
	   text-decoration:none;
	    
		padding:10px 10px;
	  
	   }
	   
.shp  {
margin-top:10px;
}
	   
.sell {
margin-top:10px;
}

.profile {
margin-top:10px;
margin-bottom:60px;
}

/** footer **/	   
   footer {

    color: #fff;

}

footer h3 {

    margin-bottom: 30px;

}

footer .footer-above {

    padding-top: 50px;

    height: 300px;

    background-image: url('../../img/footer.jpg');

    background-repeat: no-repeat;

    background-size: cover;

    text-transform: none;

}

footer .footer-above h1 {

    font-family: daxecobank;

    text-transform: none;

    font-size: 30px;

    font-weight: 500;

    line-height: 30px;

    color: #9BC534;

    text-shadow: 1px 1px #000000; text-align: center;

}

footer .footer-above h2 {

    font-family: daxecobank;

    text-transform: none;

    font-size: 20px;

    font-weight: 500;

    line-height: 20px;

    color: #9BC534;

    text-shadow: 1px 1px #000000;

}

footer .footer-col {

    margin-bottom: 50px;

}

footer .footer-below {

    padding: 10px 0;

    background-color: #ffffff;

    color: #000000;

    font-family: daxecobank;

}

footer .footer-below a {

    text-decoration: none;

}

.sub_form {
    width: 720px;
    height: 70px;
    margin: 20px auto;
}

.sub_textfield {
    width: 80%;
    float: left;
}

.sub_btn {
    width: 20%;
    float: left;
}

.copyright {
    width: 25%;
    height: 40px;
    line-height: 40px;
    float: left;
    font-size: 13px;
    color: #005b82;
}

.footer_links {
    width: 50%;
    height: 40px;
    line-height: 40px;
    float: right;
    text-align: center;
}

.footer_links a {
    font-size: 13px;
    color: #005b82;
}

.social {
    width: 25%;
    height: 40px;
    line-height: 40px;
    float: right;
}

.social img {
    width: 30px;
    height: auto;
    margin: 5px;
    float: right;
}

.btn-social {

    display: inline-block;

    width: 50px;

    height: 50px;

    border: 2px solid #fff;

    border-radius: 100%;

    text-align: center;

    font-size: 20px;

    line-height: 45px;

}
.bg-sub {
    background-color: #00597d;
    font-size: 20px;
}
.btn {
    border-radius: 0;
    color: #ffffff;
    font-family: daxecobank;
}
.btn-block {
    display: block;
    width: 100%;
}

.sub-text {
    font-family: daxecobank;
    height: 70px;
}
.subscribe-msg .alert {
    margin: 0 auto 10px;
    padding: 0;
    text-align: center;
    width: 40%;
}
.alert-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}
.alert-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}
.contact-no {
    color: #005b82;
    font-size: 13px;
    margin-left: 10px;
}