/** {*/
    /*font-family: 'Open Sans', sans-serif !important;*/
/*}*/

/*body {*/
    /*padding: 0;*/
    /*margin: 0 auto;*/
    /*line-height: 1;*/
    /*font-size: 12px;*/
/*}*/

/** {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*line-height: 1;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*font-family: 'Open Sans', sans-serif !important;*/
/*}*/

h1, h2, h3, h4, h5 {
   font-family: 'Open Sans', sans-serif !important;
    color: #333;
}

h1 {
    font-size: 2.0em;
    margin: 5px 10px 5px 18px;
    font-weight: 500;
}

h2 {
    font-size: 1.6em;
    margin: 5px 0 12px;
}

h3 {
    font-size: 1.1em;
    margin: 3px 0 10px;
}

h4 {
    font-size: 1.1em;
    margin: 3px 0 8px;
}

h5 {
    font-size: 15px;
    margin: 0 0 5px;
}

/*p {*/
    /*font-size: 12px;*/
    /*line-height: 1.5;*/
    /*margin-bottom: 6px;*/
/*}*/

hr {
    width: 40%;
    margin: 10px auto;
}

.clearfix {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    background-color: transparent;
}

td {
    /*padding: 5px 7px;*/
}
#no_padding{
    padding: 0px;
}

.light {
    font-weight: 100;
}

.white {
    color: #fff;
}

.orange {
    color: #FE9A00;
}

.float_lft {
    float: left;
}

.float_rgt {
    float: right;
}

.center {
    text-align: center;
    margin: auto;
}