@media screen and (max-width: 1200px) {

	.container {
		width: 98%;
	}

	.mobile {
		display: block;
	}

	.contn {
		width: 80%;
	}

	.button {
		width: 60%;
	}

	.box {
		width: 120px;
		height: 120px;
		margin: 30px 10px;
		padding: 0;
	}

	.box img {
		width: 120px !important;
		height: 120px !important;
	}

	.tiles {
		height: 200px;
	}

	.tiles img {
		width: 80%;
	}

	.info{
		height: 450px;
	}

	.ptdis {
		height: 235px;
	}

	.product {
		width: 140px;
		margin: 15px;
	}

	.product img{
		width: 100%;
	}

	.price {
		font-size: 16px;
	}

	.btn3{
		width: 65px;
		height: 30px;
		margin-left: 10px;
		float: left;
		padding: 5px;
	}

}


@media screen and (max-width: 768px) {

	.container {
		width: 98%;
		margin: 0px auto !important;
	}

	.img {
		display: none;
	}

	.contn {
		width: 80%;
	}

	.button {
		width: 60%;
	}

	.box {
		width: 120px;
		height: 120px;
		margin: 30px 10px;
		padding: 0;
		float: left;
	}

	.box img {
		width: 120px !important;
		height: 120px !important;
	}

	.tiles {
		height: 200px;
	}

	.tiles img {
		width: 80%;
	}

	.info{
		height: 450px;
	}

	.ptdis {
		min-height: 550px;
		width: 100%;
	}

	.product {
		width: 140px;
		margin: 10px;
	}

	.product img{
		width: 100%;
	}

	.price {
		font-size: 16px;
	}

	.btn3{
		width: 65px;
		height: 30px;
		margin-left: 10px;
		float: left;
		padding: 5px;
	}

	.tiles h3 {
		font-size: 1em;
	}




}


@media screen and (max-width: 480px) {

	.container{
		width: 98%;
	}

	.contn {
		width: 95%;
	}

    .ptdis {
        width: 100%;
        margin-bottom: 30px;
        float: none;
        min-height: 550px;
    }

    .product {
	    float: left;
	    margin: 0;
	    width: 45%;
	    margin-top: 10px;
	    margin-left: 2.5%;
    }

	.wrap {
		width: 100%;
		height: 400px;
		margin: 50px auto;
	}	

	.tiles {
		height: 180px;
	}

	.tiles img {
		width: 80%;
	}

	.info {
		height: 400px;
	}

	.disp2 img {
		display: none;
	}

	.menu {
		width: 100%;
	}

	.box {
		width: 120px;
		height: 120px;
		margin: 30px 20px;
		padding: 0;
	}

	.box img {
		width: 120px !important;
		height: 120px !important;
	}

	.button {
		width: 100%;
	}

	.product {
		display: block;
	}

	.tiles h3 {
		font-size: 1em;
	}

}


@media screen and (max-width: 320px) {

	.contn{
		width: 95%;
	}

	.box {
		width: 110px;
		height: 100px;
		margin: 50px 10px;
		padding: 0;
		float: left;
	}

	.box img {
		width: 120px !important;
		height: 120px !important;
	}

	.button {
		width: 100%;
	}

	.btn {
		width: 120px;
	}

	.btn p{
		font-size: 10px;
	}

	.btn1 {
		width: 120px;
	}

	.btn1 p{
		font-size: 10px;
	}

	.tiles h3 {
		font-size: 0.9em;
	}

}


