body {
    background-color: #EEEEEE;
    width: 100%;
}

.container {
    width:80%;
    margin: 30px auto;
}

.disp1 {
    width: 100%;
    height: 335px;
}
.disp img {

}
.img {
    width: 25%;
    height: 280px;
    float: left;
}
.img img{
    width: 100%;

}

.ptdis {
    width: 75%;
    height: 279px;
    border-top: 3px solid #BED600;
    float:right;
    background-color: white;
}
.view {
    width: 100%;
    border:1px grey;
}

.wrap {
    width: 48%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
    background-color: white;
}

.head {
    width: 100%;
    height: 50px;
    background-color: #00597D;
    padding: 12px;
    color: #A8C738;
}

.head h3 {
    color: #A8C738;
}

.head a{
    color: #A8C738;
    text-decoration: none;
}

.info {
    width: 100%;
    height: 500px;
    padding: 10px;
    background-color: white;
}

.tiles {
    height: 235px;
    cursor: pointer;
    border:1px solid #d5d2d5;
    padding: 10px;
    width: 33.3%;
    float: left;
    text-align: center;
    border-bottom: none;
}

.tiles1 {
    height: 235px;
    cursor: pointer;
    border:1px solid #d5d2d5;
    padding: 10px;
    width: 33.3%;
    float: left;
    text-align: center;
    border-right: none;
}

.tiles2 {
    height: 235px;
    cursor: pointer;
    border:1px solid #d5d2d5;
    padding: 10px;
    width: 33.3%;
    float: left;
    text-align: center;
    border-right: none;
}

.tiles3 {
    height: 235px;
    cursor: pointer;
    border:1px solid #d5d2d5;
    padding: 10px;
    width: 33.3%;
    float: left;
    text-align: center;

}

.tiles img{
    margin-top: 5px;
    width: 80%;
}

.tiles1 img{
    margin-top: 5px;
    width: 80%;
}

.tiles2 img{
    margin-top: 5px;
    width: 80%;
}

.tiles3 img{
    margin-top: 5px;
    width: 80%;
}

.tiles h3{
    margin: 3px 0;
    padding: 0;
}

.tiles p{
    font-size: 11px;
    color: grey;
}

.tiles:hover {
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}

.tiles1:hover {
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}

.tiles2:hover {
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}

.tiles3:hover {
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}

.disp2 {
    width: 100%;
    height: 330px;
    margin: 40px 0;
    background-color: white;
}

.disp2 img {
    width: 24.5%;
}

.disp2 img:hover{
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    cursor: pointer;
}

.menu {
    width: 25%;
    height: 330px;
    float: left;
    border-right: 1px solid #d5d2d5;
}
.menu_itm a{
    text-decoration: none;
    color: black;
}

ul li {
    margin: 20px 0;
    padding: 0 20px;
    font-weight: 500;
}

.imgtile {
    width: 100%;
}

.imgtile img{
    width: 66.6%;
    /* padding: 10px;*/
}

.imgtile:hover img{
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}


/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute!important;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url("img/b05.png") no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
*/
.jssora22l, .jssora22r {
    display: block;
    position: absolute !important;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url("img/a22.png") center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }


.mercht {
    width: 100%;
    height: auto;
    margin: 40px 0;
    background-color: white;
    text-align: center;
}

.contn {
    width: 95%;
    margin: 0 auto;
    padding: 20px 10px;
}

.contn  h2{
    color: #00597D;
}

.contn p{
    font-size: 14px;
    /*margin: 0 0 10px 0;*/
}

.box {
    float: left;
    margin-left: 52px;
    margin-top: 12px;
}

.box img{
    width: 190px;
    height: 190px;
    margin-bottom: 12px;
}

/*.box_wrap{
    width: 100%
    height:200px;
    border: 1px solid #ddd;
}
*/
.button {
    width: 35%;
    margin: 50px auto;
    background-color: white;
}

.btn{
    width: 150px;
    height: 40px;
    float: left;
    padding: 12px;
    cursor: pointer;
    margin: 20px auto;
    border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#40839E 50%, #00597D 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#40839E 50%, #00597D 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#40839E 50%, #00597D 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#40839E 50%, #00597D 50%); /* Standard syntax (must be last) */
}

.btn p{
    color: white;
    font-size: 12px;
}

.btn a {
    text-decoration: none;
}

.btn1{
    width: 150px;
    height: 40px;
    float: right;
    padding: 12px;
    cursor: pointer;
    margin: 20px auto;
    border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B4D467 50%, #9BC534 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B4D467 50%, #9BC534 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B4D467 50%, #9BC534 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B4D467 50%, #9BC534 50%); /* Standard syntax (must be last) */
}

.btn1 p{
    color: white;
    font-size: 12px;
}

.btn1 a {
    text-decoration: none;
}

.btn3{
    width: 80px;
    height: 30px;
    float: left;
    margin-left: 15px;
    padding: 8px 7px;
    cursor: pointer;
    /*border-radius: 3px;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #00597D;
}

.btn3 a {
    text-decoration: none;
}

.btn3 p{
    color: white;
    font-size: 9.5px !important;
}
.product {
    width: 165px;
    height: 255px;
    float: left;
    padding: 5px;
    margin: 10px 18px;
    border: 1px solid #ddd;

}
.product:hover{
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}
.product p{
    text-align: center;
    font-size: 13px;
}

.product img{
    border-bottom: 1px solid #ddd;
    width: 150px;
    height: 170px;

}

.price {
    color: #A8C738;
    font-size: 16px;
    font-weight: 600;
    float: left;
    margin-top: 10px;
}
