/*
* 	cycle Theme 
*/

.slideshow { margin: auto ; }
.slideshow img { width: auto; height: auto; padding:0 8px; }

.slideshow4 img { width: 100%; height: auto; }
.slideshow2 img { width: auto; height: auto; padding: 0 8px; }
div.responsive img { width: auto; height: auto }
/* pager */
.cycle-pager { 
    text-align: right; width: 98%; z-index: 500; position: absolute; bottom: 10px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 130px;  width: 40px; line-height:40px; height: 40px; 
    display: inline-block; color: #416271; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #fe9802;}
.cycle-pager > * { cursor: pointer;}
div.vertical { width: 100px }
.cycle-slide{ text-align:center;}
#prev{ background-color: #00587C; box-shadow: 2px 0 2px 0 #dcdcdc;color: #fff; font-size: 27px;left: 0; padding: 1px 20px; position: absolute; top: 0;}
#next{background-color: #00587C; box-shadow: 2px 0 2px 0 #dcdcdc;color: #fff; font-size: 27px;right: 0; padding: 1px 20px; position: absolute; top: 0; }
/*slider End*/
.main_nav{border:1px solid #00587C; margin: 10px 0 -8px;}
.main_nav .inner_nav{margin:0 auto; position:relative; z-index:10;}
.main_nav .cycle-slide a{padding:8px 20px; display:block; font-size:17px; text-transform:uppercase; color:#292929;}

.cycle-slide p{  margin: auto;}
