/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {
	outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0; 
	list-style: none;
} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	margin: 0; 
	padding: 0;
}
.flexslider .slides { 
	margin: 0; 
	padding: 0; 
}
.flexslider .slides > li {
	display: none; 
	-webkit-backface-visibility: hidden;
	margin: 0; 
	padding: 0; 
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
} 
html[xmlns] .slides {
	display: block;
} 
* html .slides {
	height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 0; 
	position: relative; 
	zoom: 1;
}
.flex-viewport {
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}

/* Direction Nav */
.flex-direction-nav {
	*height: 0;
}
.flex-active-slide {    
	margin: 0 auto !important;     
	text-align: center; 
}
.flex-caption {
    float: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 860px) {
  	.flex-direction-nav .flex-prev {
		opacity: 1; 
		left: 0;
	}
  	.flex-direction-nav .flex-next {
		opacity: 1; 
		right: 0;
	}
}

@media (max-width: 990px) {
	.flex-active-slide {    
		text-align: center; 
	}
}