/*=============================
colors:
blue: #00597D;
green: #BED600
=============================*/
/** {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: DaxEcobank !important;
}

h1, h2, h3, h4 {
    text-transform: capitalize;
    color: #009AB1;
}*/

.clear {
    clear: both;
}

/*header {
    width: 100%;
    height: 120px;
    background-color: #eee;
    border-bottom: solid 3px #BED600
}*/
*{
	font-family: DaxEcobank !important;
}

#content {
    width: 100%;
    height: auto;
    padding: 20px 0;
}


/* content style
==================*/
#top_banner {
    width: 100%;
    min-height: 350px;
    margin-bottom: 20px;
}

.main_banner {
    width: 65%;
    min-height: 340px;
    float: left;
    border: solid 1px #ddd;
    padding: 3px;
}

.theme-default .nivo-controlNav {
    margin-top: -20px;
}

.side_banner {
    width: 33%;
    height: auto;
    float: right;
}

.side_banner_itm {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.side_banner_itm img {
    width: 100%;
    height: auto;
}

#lower_banner {
    width: 100%;
    min-height: 160px;
}

.lower_banner_itm {
    width: 33.3%;
    padding: 0 7px;
    float: left;
}

.lower_banner_itm .inner img {
    width: 100%;
}

.inner {
    width: 100%;
}

.section {
    width: 100%;
    height: auto;
    margin: 30px 0 50px;
}

.section_title {
    width: 100%;
    height: 50px;
    text-align: center;
    text-transform: capitalize;
}

.section_nav {
    width: 100%;
    min-height: 100px;
    border: solid 1px #ccc;
    margin-bottom: 20px;
}

.nav-top {
    width: 100%;
    height: 50px;
    position: relative;
}

.nav-top-con {
    width: 92%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 4%;
    overflow: hidden;
}

.nav-top-control {
    width: 4%;
    height: 50px;
    background-color: #00597D;
}

.nav-top-control:hover {
    background-color: #333;
}

.left {
    float: left;
}

.right {
    float:right;
}

.nav-icon-left {
    background-image: url('../img/arrow-left-small.png');
    background-position: center;
    background-repeat: no-repeat;
}

.nav-icon-right {
    background-image: url('../img/arrow-rigtht-small.png');
    background-position: center;
    background-repeat: no-repeat;
}

.nav-bottom .nav-icon-right {
    background-color: #BED600 !important;
}

.nav-bottom .nav-icon-left {
    background-color: #BED600 !important;
}

.nav-bottom {
    width: 100%;
    height: 50px;
    background-color: #BED600
}

.product_nav_wrap {
    width: 1200px;
    height: 100px;
}

.product_nav_wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product_nav_wrap ul li {
    position: relative;
}

.product_nav_wrap ul li a {
    width: auto;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    float: left;
    display: block;
}

.product_nav_wrap ul li a:hover {
    color: #BED600
}

.nav-inner {
    position: absolute;
    top: 100%
}

.product_nav_wrap ul li ul {
    text-indent: 9999px;
}



.section_content {
    width: 100%;
    height: auto;
}

.product_area_wrap {
    width: 100%;
    height: auto;
	/*min-height: 890px;*/
    float: left;
    border-top: solid 1px #ddd;
    border-left: solid 1px #ddd;
}

.product_wrap {
    width: 25%;
    height: 340px;
    float: left;
    border-right: solid 1px #dddddd;
    border-bottom: solid 1px #ddd;
}

.product_wrap1 {
    width: 25%;
    height: 340px;
    float: left;
    border-right: solid 1px #dddddd;
    border-bottom: solid 1px #ddd;
}
.product_wrap .image {
    width: 100%;
    height: 210px;
    margin-bottom: 10px;
    padding: 10px;
}

.product_wrap .image img {
    width: 100%;
	height: 197px;
}

.product_wrap .details {
    width: 100%;
    height: 120px;
    padding: 5px 15px;
    background-color: #00597D;
}

.prdt_txt_top {
    width: 100%;
    height: 60px;
}

.prdt_txt_btm {
    width: 100%;
    height: 40px;
}

.prdt_price {
    float: left;
    text-align: left;
    font-size: 18px;
    line-height: 1;
    color: #fff;
}

.prdt_btn a {
    float: right;
    width: 100px;
    text-align: center;
    background-color: #fff;
    color: #00597D;
}

.sect_banner_ad {
    width: 24%;
    height: 680px;
    border: solid 1px #ccc;
    float: right;
}

.banner_ad_image {
    width: 100%;
    height: 640px;
}

.banner_ad_btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    background-color: #BED600
    text-align: center;
}
.banner_ad_image img {
    height: 640px;
    width: 100%;
}

#featured_merchant {
    background-color: #f5f5f5;
    background-image: url('../img/feat_bg.png');
    background-repeat: repeat-x;
}

.feat_title {
    height: 100px;
    width: 100%;
    padding-left: 6%;
    position: relative;
    padding-top: 30px;
}

.more_btn {
    position: absolute;
    top: 50px;
    right: 60px;
    color: #009AB1;
    font-size: 18px;
}

.more_btn a {
    color: #009AB1;
    font-size: 18px;
}

.feat_cont {
    height: 250px;
    margin: 20px 0;
    position: relative;
}

.btm_slider_wrap {
    margin: 0 auto;
	width: 90%;
	position:relative;
	height:250px;
}
.btm_slider_wrap .slider_inner{
	height:auto;
	position:relative;
}
.slider-inner {
    width: 1200px;
    height: 180px;
}

.slider_itm {
    width: 180px;
    height: 180px;
    float: left;
    border: solid 1px #ddd;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider_itm img {
    width: 100%;
}

.btm_slider_control {
    width: 5%;
    height: 180px;
}

.left_control {
    background-image: url('../img/arrow-left-big.png');
    background-position: center;
    background-repeat: no-repeat;
}

.right_control {
    background-image: url('../img/arrow-right-big.png');
    background-position: center;
    background-repeat: no-repeat;
}
.product_nav_wrap_silder {
    border: medium none !important;
    margin: 0 !important;
}
.cycle-slide p a {
    color: #333 !important;
    display: block !important;
    float: left;
    font-size: 16px !important;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    padding: 0 10px !important;
    width: auto;
	text-transform: none !important;
}
.cycle-slide p a:hover {
	color:#9bc534 !important;
}

.featured-merchant-heading {
color: #009ab1;
    font-size: 34px;
    font-weight: normal;
    text-transform: capitalize;}


/***** Featured Merchants slider ********/
.slider_inner .customNavigation {
    height: 100%;
    width: 100%;
    z-index: 1;
}
.slider_inner .customNavigation .prev {
    color: #fff;
    cursor: pointer;

    left: -45px;
   /* padding: 15px 12px;
	font-size: 39px;*/
    position: absolute;
    top: 25%;
	width: 40px;
	height: 80px;
}
.slider_inner .customNavigation .next {
    color: #fff;
    cursor: pointer;
    right: -45px;
    /*padding: 15px 12px;
	font-size: 39px;*/
    position: absolute;
    top: 25%;
	width: 40px;
	height: 80px;
}
.main-nav .cycle-slide .subCateslider a{
	color:#fff !important;

}
.main-nav .cycle-slide .subCateslider a:hover{
	color:#000 !important;

}
.arrow_box {
	position: relative;
	background: #FFFFFF;
	border: 5px solid #FFFFFF;
}
.arrow_box:after, .arrow_box:before {
	/*bottom: 100%;*/
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(155, 197, 52, 0);
	border-bottom-color: #BED600
	border-width: 30px;
	margin-left: -25px;
}
.arrow_box:before {
	border-color: rgba(146, 170, 173, 0);
	border-bottom-color: #92aaad;
	border-width: 36px;
	margin-left: -36px;
}

#main_content {
    width: 100%;
    height: auto;
   /* padding: 20px 0;*/
    margin-top: 15px;
}

.dir_cont {
    width: 100%;
    min-height: 500px;
}

.dir_cont title {
    width: 100%;

}

.dir_cont h2 {
    font-size: 30px;
    color: #BED600
    margin-bottom: 30px;
}

ul.tabs {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.tabs li {
    width: 20%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    float: left;
    border: solid 1px #ddd;
}

ul.tabs li a {
    line-height: 40px;
    font-size: 13px;
    display: block;
    color: #333;
}

ul.tabs li.selected a {
    background-color: #00597D;
    color: #fff;
}

.tab-pane {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 20px;
}

.tab-pane-cont {
    min-height: 400px;
    width: 100%;
    margin-top: 30px;
}

.tab-ins {
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
}

.tab-ins ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab-ins ul li a {
    font-size: 13px;
    padding: 5px 0;
}

#search_title {
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #ccc;
    margin-top: 0px;
    line-height: 50px;
}

.result {
    float: left;
    width: 50%;
}

.related {
    float: left;
    width: 50%;
}

.sidebar {
    width: 25%;
    min-height: 600px;
    float: left;
}

.sidebar_itm {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 25px;
    position: relative;
}

.sidebar_itm_title {
    font-size: 20px;
    color: #333;
}

.sidebar_more {
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: 12px;
    color: #333;
}

.search-cont {
    width: 70%;
    height: auto;
    float: right;
}
.clearfix {
    clear: both;
}
.tab-img > img {
    border: 1px solid #9bc535;
    height: 50px;
    padding: 1px;
    width: 60px;
}

*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
.dir_cont .tabcontents ul li {
    margin: 0 0 10px;
}
