@media screen and (max-width:1024px) {
    .container {
        width: 92%;
        height: auto;
        margin: 0 auto;
    }

}


@media screen and (max-width:960px) {

}


@media screen and (max-width:769px) {

    .container {
        width: 96% !important;
        height: auto;
        margin: 0 auto;
    }

    .inner {
        width: 96% !important;
        height: auto;
    }

    .mobile_nav_wrap {
        width: 100%;
        height: 60px;
        padding: 5px 0;
        background-color: #005b82;
        display: block;
    }

    .mobile_logo {
        width: auto;
        height: 50px;
        float: left;
    }

    .mobile_logo img {
        height: 50px;
    }

    .nav_btn {
        width: 40px;
        height: 50px;
        float: right;
        cursor: pointer;
        background-image: url('../img/ico-cate.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    #main_nav {
        width: 100%;
        height: auto;
        display: none;
    }

    .top-header {
        display: block;
        background-color: #ffffff;
        color: #005b82;
        font-family: "DaxEcobank";
        font-size: 16px;
        font-weight: 500;
        height: auto !important;
        width: 100%;
    }

    .top-header .inner .div3 {
        float: none;
        margin-right: 0;
        position: relative;
        width: 100%;
        height: 95px;
        margin-bottom: 5px;
    }

    .top-header .inner .div3 a {
        width: 100%;
        height: 40px;
        border: solid 1px #ddd;
        display: inline-block;
        margin: 0 0 10px;
        padding: 0 25px 0 10px;
        line-height: 38px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-position: right 10px;
    }

    .top-header .inner .div3 .collapsingForms {
        background-clip: padding-box;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
        float: right;
        font-size: 14px;
        top: 40px;
        left: 0px;
        list-style: outside none none;
        margin: 2px 0 0;
        padding: 20px 10px 10px;
        position: absolute;
        width: 100%;
        z-index: 10000;
    }

    .top-header .div2 {
        width: 100% !important;
        height: auto !important;
    }

    .top-header .div2 a {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 40px;
        display: block;
        float: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: solid 1px #d1d4d3;
        background-color: #d7dfe6;
        padding: 0 10px;
        line-height: 38px;
        margin: 0 0 7px;
    }

    .actionbar {
        display: block;
    }

    .actionbar {
        /* top: 50px; */
        top: 0;
        border: 0;
        border-bottom: 3px solid #3c8930;
        color: #ffffff;
        height: auto !important;
        width: 100%;
        /* position: absolute; */
        position: relative;
        background-color: #005b82;
    }

    .actionbar .inner .logo {
        display: none;
    }

    .actionbar .inner .cart {
        float: none;
        width: 150px;
        margin-top: 10px;
    }

    .actionbar .inner .search {
        float: none;
        margin-top: 10px;
        width: 100%;
        margin-right: 0px;
        height: 100px;
    }

    .search_cat {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }

    .search_cat .btn-group {
        width: 100%;
    }

    .search_cat .btn {
        width: 100%;
        text-align: left !important;
    }

    .search_txt {
        width: 73%;
        float: left;
    }

    .search_mer {
        display: none;
    }

    .search_btn {
        width: 25%;
    }

    .search_btn .btn {
        width: 100%;
    }

    header {
        font-family: daxecobank;
        text-align: center;
        color: #fff;
        height: auto !important;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 10;
    }

    header .container {
        position: relative;
        margin: auto;
        /* margin-top: 98px; */
        padding-top: 0px !important;
        padding-bottom: 0px;
        width: 100%;
    }

    section {
        padding: 20px 0;
    }

    #portfolio {
        padding: 20px 0 !important;
    }

    section.merchants .container {
        width: 1000px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto !important;
    }

    section.merchants {
        height: auto !important;
    }

    .merchant_box_large {
        float: left;
        height: 170px;
        width: 100%;
        position: relative;
    }

    .merchant_box {
        width: 48%;
    }

    .merchant_box .inner {
        width: 98% !important;
        height: 145px;
        margin-top: 4px;
        border: 1px solid #3c8930;
        text-align: center;
    }

    .merchant_box .count {
        width: 98% !important;
    }

    .product-box {
        width: 100%;
        border: 1px solid #ccc;
        height: 300px;
        float: left;
    }

    .story-box-outer {
        width: 100%;
    }

    .story-box {
        float: left;
        height: auto;
        position: relative;
        width: 48%;
        margin-right: 1%;
    }

    .story-box .inner {
        width: 98% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .story-box .inner2 {
        width: 100% !important;
    }

    .inner2 img {
        width: 100% !important;
    }

    .extra_div .btn {
        width: 48% !important;
        margin-right: 2%;
        float: left;
        font-size: 20px;
    }

    .tool-box {
        float: left;
        padding-top: 20px;
        width: 100%;
        height: 240px;
        margin-right: 0;
        margin-bottom: 20px;
        overflow: hidden;
        border-top: 3px solid #00597D;
        position: relative;
    }

    .breadcrumb {
        width: 96%;
    }

    .product_product_detail {
        width: 100%;
        padding-top: 20px;
    }

    .description-pro {
        width: 100%;
    }

    .product_merchant_detail {
        width: 100%;
    }

    .product_merchant_detail .merchant_box_large {
        float: left;
        height: 160px;
        width: 100%;
        position: relative;
    }

    .display-div .merchant_box_content {
        float: left;
        width: 100%;
        height: 150px;
        position: relative;
    }

    .tab-ins {
        width: 33% !important;
        height: 220px;
        float: left;
    }

    .tab-img {
        width: 100%;
    }

    .tab-img > img {
        border: 1px solid #9bc535;
        padding: 1px;
        width: 96% !important;
        height: auto !important;
    }

    section.merchant_display .container .display-div {
        height: 500px;
        width: 100%;
        float: none;
    }

    section.merchant_display .container .side-div {
        width: 100%;
        float: none;
        padding: 10px;
    }

    .side-div .merchant_box_large {
        float: left;
        height: 140px;
        width: 100%;
        position: relative;
    }

    .main_banner {
        width: 100% !important;
        min-height: 240px !important;
        float: none !important;
        border: solid 1px #ddd;
        padding: 3px;
        margin-bottom: 15px;
    }

    .side_banner {
        width: 100% !important;
        height: auto;
        float: none;
    }

    .side_banner_itm {
        width: 48% !important;
        height: auto;
        float: left;
        margin: 0 1% 15px;
    }

    #lower_banner {
        display: none;
    }

    .product_product_display {
        width: 90%;
        min-height: 500px;
        float: none;
        margin: auto;
    }

    .merchant_box_content {
        width: 100% !important;
    }

    .ui-tabs-panel {
        width: 100% !important;
    }

    .ui-tabs-panel img {
        width: 100% !important;
        height: auto !important;
    }

    .merchant_box_content .sub-boxes {
        width: 33%;
        padding-left: 5px;
        padding-right: 5px;
        float: left;
    }

    .html5gallery {
        width: 100% !important;
    }

    .html5gallery-container-0 {
        width: 100% !important;
    }

    .html5gallery-box-0 {
        width: 100% !important;

    }

    .html5gallery-elem-0 {
        width: 100% !important;
    }

    .html5gallery-elem-img-0 {
        width: 100% !important;
    }

    img.html5gallery-elem-image-0 {
        width: 100% !important;
        height: auto !important;
    }

    .product_area_wrap {
        width: 100% !important;
    }

    .sect_banner_ad {
        display: none;
    }

    .product_wrap {
        width: 50% !important;
        height: 340px;
        float: left;
        border-right: solid 1px #dddddd;
        border-bottom: solid 1px #ddd;
    }

    .product_wrap .image {
        text-align: center;
    }

    .product_wrap .image img {
        width: auto !important;
        height: 197px;
        margin: auto;
    }


    footer .footer-above {
        padding: 50px 0 30px;
        height: auto !important;
        background-image: url('../img/footer.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        text-transform: none;
    }

    .sub_form {
        width: 96%;
        height: 70px;
        margin: 20px auto;
    }

    .copyright {
        width: 100%;
        height: 40px;
        line-height: 40px;
        float: none;
        font-size: 13px;
        color: #005b82;
        text-align: center;
    }

    .footer_links {
        width: 100%;
        height: 40px;
        line-height: 40px;
        float: none;
        text-align: center;
    }

    .footer_links a {
        font-size: 13px;
        color: #005b82;
    }

    .social {
        width: 100%;
        height: 40px;
        line-height: 40px;
        float: none;
        text-align: center;
    }

    .social img {
        width: 30px;
        height: auto;
        margin: 5px;
        float: none;
        display: inline-flex;
    }

    .main_cart_con {
        width: 98%;
        border: 1px solid #ccc;
        height:auto;
        overflow-y: auto;
        margin: auto;
    }

    .main_cart_lft {
        width: 100%;
        float: none;
        border-right: 1px solid #ccc;
        min-height: 400px;
        height: auto
    }

    .main_cart_rgt {
        width: 100%;
        float: none;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .owl-carousel-merchant .customNavigation {
        display: none;
    }

    .owl-item .items {
        width: 100%;
    }

}


@media screen and (max-width:480px) {

    .container {
        width: 98% !important;
        height: auto;
            margin: 0 auto !important;
    }

    .inner {
        width: 98% !important;
        height: auto;
    }

    .merchant_box_large {
        float: left;
        height: 280px;
        width: 100%;
        position: relative;
    }

    .merchant_box {
        width: 98%;
    }

    .product-box {
        width: 100%;
        border: 1px solid #ccc;
        height: 300px;
        float: left;
    }

    .story-box {
        float: left;
        height: auto;
        position: relative;
        width: 99%;
        margin-right: 0;
    }

    .story-box-outer {
        width: 100%;
        overflow: visible;
    }

    .extra_div .btn {
        width: 98% !important;
        margin-right: 2%;
        margin-bottom: 10px;
        float: left;
        font-size: 20px;
    }

    .sub_form {
        width: 96%;
        height: 180px;
        margin: 20px auto;
    }

    .sub_textfield {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }

    .sub_btn {
        width: 100%;
        float: none;
    }

    .tab-ins {
        width: 100% !important;
        height: 300px;
        float: left;
    }

    .html5gallery {
        display: none !important;
    }

    .main_banner {
        width: 100% !important;
        min-height: 180px !important;
        float: none !important;
        border: solid 1px #ddd;
        padding: 3px;
        margin-bottom: 15px;
    }

    #lower_banner {
        display: none;
    }

    .product_area_wrap {
        width: 100% !important;
    }

    .sect_banner_ad {
        display: none;
    }

    .product_wrap {
        width: 100% !important;
        height: 340px;
        float: left;
        border-right: solid 1px #dddddd;
        border-bottom: solid 1px #ddd;
    }

    .product_wrap .image {
        text-align: center;
    }

    .product_wrap .image img {
        width: auto !important;
        height: 197px;
        margin: auto;
    }

    .feat_title {
        height: 100px;
        width: 100%;
        padding-left: 2% !important;
        position: relative;
        padding-top: 30px !important;
    }

    .featured-merchant-heading {
        font-size: 30px !important;
    }

    .more_btn {
        top: 60px !important;
        right: 10px !important;
        color: #009AB1;
        font-size: 14px;
    }

    .more_btn a {
        color: #009AB1;
        font-size: 14px !important;
    }

    .slider_itm {
        width: 180px;
        height: 180px;
        float: none !important;
        border: solid 1px #ddd;
        margin: auto;
    }

    .slider_inner .customNavigation .next {
        right: -25px !important;
    }

    .slider_inner .customNavigation .prev {
        left: -25px !important;
    }

    .nav-tabs {
        margin: auto;
        font-size: 18px !important;
        width: 100% !important;
        text-align: center;
    }

    .owl-carousel-merchant .customNavigation {
        display: none;
    }

}


@media screen and (max-width:320px) {


}
